<template>
  <!-- from: [http://tachyons.io/components/articles/feature/index.html] -->

  <article id="about" class="vh-100 dt w-100 bg-dark-gray">
    <transition name="fade">
    <div class="dtc v-mid tc ph3 ph4-l">
      <section id="marker" class="pa3 pa4-ns">
        <!-- logo (orbit, flat earth) -->
        <!-- <logo /> -->

        <!-- Name + Link -->
        <router-link  class="link dim white b f2 f2-m f-headline-ns tc db mb3 mb4-ns" to="/" title="Home">Obi Kno.ws<span class="b gold">/<span class="blue">{{page}}</span></span></router-link>

        <!-- Social Buttons -->
        <social-bar />

        <!-- Nav Bar -->
        <link-bar />

      </section>
    </div>
    </transition>

  </article>
</template>

<script>
import BoxLogo from '@/components/BoxLogo'
import SocialBar from '@/components/SocialBar'
import LinkBar from '@/components/LinkBar'

export default {
  name: 'hello',
  components: {
    BoxLogo, SocialBar, LinkBar
  },
  data () {
    return {
      page: 'About',
      msg: 'Welcome to Your Vue.js PWA',
      githubURL: 'https://github.com/obiiiknows'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

</style>
