<template>
  <!-- from: [http://tachyons.io/components/articles/feature/index.html] -->
  <article id="home">
    <!-- Head BAR -->
    <nav id="marker" class="pa3 pa4-ns">
      <router-link  class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" to="/" title="Home">Obi Kno.ws<span class="b gold">/blog</span></router-link>
      <div class="tc pb3">
        <router-link class="link dim gray f6 f5-ns dib mr3" to="/about" title="About">About</router-link>
        <router-link class="link dim gray f6 f5-ns dib mr3" to="/blog" title="Home">Words</router-link>
        <router-link class="link dim gray f6 f5-ns dib mr3" to="/work" title="About">Work Wit Me</router-link>
        <router-link class="link dim gray f6 f5-ns dib mr3" to="/code" title="About">Tha Code</router-link>
        <router-link class="link dim gray f6 f5-ns dib mr3" to="/store" title="Store">Shop</router-link>
        <router-link class="link dim gray f6 f5-ns dib mr3" to="/contact" title="Contact">Contact</router-link>
        <a class="link dim gray f6 f5-ns dib mr3" href="#" title="Extra Menu"><span>+</span></a>
      </div>
    </nav>

    <!-- list -->
    <article class="mw5 mw7-ns center bg-light-gray pa3 pa5-ns smooth-edges">
      <h4 class="f6">16:9</h4>
      <div class="aspect-ratio aspect-ratio--16x9 mb4">
        <div class="aspect-ratio--object cover" style="background:url(http://mrmrs.github.io/photos/001.jpg) center;"></div>
      </div>
      <h4 class="f6">8:5</h4>
      <div class="aspect-ratio aspect-ratio--8x5 mb4">
        <div class="aspect-ratio--object cover" style="background:url(http://mrmrs.github.io/photos/001.jpg) center;"></div>
      </div>
      <h4 class="f6">7:5</h4>
      <div class="aspect-ratio aspect-ratio--7x5 mb4">
        <div class="aspect-ratio--object cover center bg-red" ></div>
      </div>
      <h4 class="f6">6:4</h4>
      <div class="aspect-ratio aspect-ratio--6x4 mb4">
        <div class="aspect-ratio--object cover center bg-green" ></div>
      </div>
      <h4 class="f6">4:3</h4>
      <div class="aspect-ratio aspect-ratio--4x3 mb4">
        <div class="aspect-ratio--object cover center bg-pink" ></div>
      </div>
      <h4 class="f6">1:1</h4>
      <div class="aspect-ratio aspect-ratio--1x1 mb4">
        <div class="aspect-ratio--object cover center bg-gold">

        </div>
      </div>
    </article>

    <!-- footer -->
    <footer class="pv4 ph3 ph5-m ph6-l mid-gray">
      <small class="f6 db tc">© 2016 <b class="ttu">SOME COMPANY Inc</b>., All Rights Reserved</small>
      <div class="tc mt3">
        <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
        <a href="/terms/"    title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
        <a href="/privacy/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
      </div>
    </footer>
  </article>
</template>

<script>
import BoxLogo from '@/components/BoxLogo'

export default {
  name: 'hello',
  components: {
    BoxLogo
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js PWA'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
#home {
  background-color: #293c46;
}

.smooth-edges {
  border-radius: 5rem;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495e;
}
</style>
