<template>
  <div class="container vh-100 dt v-mid w-100 bg-olive tc">
    <div class="dtc v-mid">
      <!-- Obi Knows BoxLogo -->
      <box-logo />
      <!-- enter button -->
      <enter-button />
    </div>
  </div>
</template>

<script>
import BoxLogo from '@/components/BoxLogo'
import EnterButton from '@/components/buttons/Enter'

export default {
  name: 'hello',
  components: {
    BoxLogo, EnterButton
  },
  data () {
    return {
      msg: 'Welcome'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* page colors */
.olive { color: #999e82; }
.bg-olive { background-color: #999e82; }
.b--olive { border-color: #999e82; }

.hover-olive:hover,
.hover-olive:focus { color: #999e82; }

.hover-bg-olive:hover,
.hover-bg-olive:focus { background-color: #999e82; }


.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
