<template>
  <!-- from: [http://tachyons.io/components/articles/feature/index.html] -->
  <section id="home">
    <!-- Nav BAR -->
    <nav id="marker" class="pa3 pa4-ns">
      <a  class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" href="/" title="Home">
        Obi Kno.ws<span class="b gold">/</span>
      </a>

      <link-bar />
    </nav>

    <!-- middle: resumé -->
    <article class="resume-paper tc shadow-1 mw5 mw6-ns center pt4">
      <div class="aspect-ratio aspect-ratio--9x16 mb4">
        <div class="athelas aspect-ratio--object cover" >
            <!-- paper title -->
            <span class="tc center">
            <paper-title />
            </span>

            <!-- yo! (svg) -->
            <yo />

            <p class="">
              My name is:
              <p class="">
                <u>Samuel O Nnodim</u>.
              </p>
            </p>

            <p class="">
              but you can call me
            </p>

            <!-- obi (svg) -->
            <obi />

            <p class="">
              I'm many things to many people but on here, I'm a..
            </p>

            <!-- Poké Text -->
            <poke-text />

            <p class="divider"> ----------- </p>

            <p class="">
              I make <span>websites</span> with the power of code
            </p>

            <!-- need a website? -->
            <need-a-site />

            <p class="">
              Lets Go!
            </p>
        </div>
      </div>
    </article>


    <!-- footer -->
    <section id="footer" class="pv4 ph3 ph5-m ph6-l mid-gray">
      <social-bar />

      <small class="f6 db tc">© 2018
        <b class="ttu">
        <span class="fredoka">Obi Knows Inc.</span>
        </b>
         LLC, All Rights Reserved
      </small>

      <div class="tc mt3">
        <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
        <a href="/terms/"    title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
        <a href="/privacy/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
      </div>
    </section>
  </section>
</template>

<script>
// compoennts
import BoxLogo from '@/components/BoxLogo'
import SocialBar from '@/components/SocialBar'
import Footer from '@/components/Footer'
import LinkBar from '@/components/LinkBar'

// home page specific components
import PaperTitle from '@/components/home/PaperTitle'
import NeedASite from '@/components/home/NeedASite'
import PokeText from '@/components/home/PokeText'
import Obi from '@/components/home/Obi'
import Yo from '@/components/home/Yo'

export default {
  name: 'home',
  components: {
    BoxLogo, SocialBar, LinkBar, Footer, PaperTitle, NeedASite, PokeText, Obi, Yo
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js PWA'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
#home {
  background-color: #293c46;
}

.smooth-edges {
  border-radius: 5rem;
}

.resume-paper {
  background: papayawhip center;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 3px solid grey;
  /* background: url(http://mrmrs.github.io/photos/001.jpg) center; */
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495e;
}
</style>
