<template>
<!-- OBI (svg) -->
<svg width="391px" height="36px" viewBox="0 0 391 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="50" font-family="Kredit-Regular, Kredit" font-weight="normal">
        <g id="Letter" transform="translate(-112.000000, -630.000000)" fill="#000000">
            <text id="NEED-A-Website-?">
                <tspan x="111.15" y="664">{{prompt}}</tspan>
            </text>
        </g>
    </g>
</svg>
</template>

<script>
export default {
  data () {
    return {
      prompt: 'NEED A WEBSITE ?'
    }
  }
}
</script>

<style>

</style>
