<template>
<!-- OBI (svg) -->
<div>
  <svg width="79px" height="43px" viewBox="0 0 79 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="50" font-family="DKCinnabarBrush, DK Cinnabar Brush" font-weight="normal">
          <g id="Letter" transform="translate(-462.000000, -241.000000)" fill="#000000">
              <text id="Obi">
                  <tspan x="461.175" y="282">{{name}}</tspan>
              </text>
          </g>
      </g>
  </svg>
</div>
</template>

<script>
export default {
  data () {
    return {
      name: 'Obi'
    }
  }
}
</script>

<style>

</style>
