<template>
<!-- Obi Who Knows Websites -->
<svg width="453px" height="36px" viewBox="0 0 453 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="32" font-family="Baby-blocks, Baby blocks" font-weight="normal">
        <g id="Letter" transform="translate(-79.000000, -40.000000)" fill="#000000">
            <text id="--Obi-Who-Knows-Webs">
              <tspan x="77.90625" y="67">{{title}}</tspan>
            </text>
        </g>
    </g>
</svg>
</template>

<script>
export default {
  data () {
    return {
      title: 'Obi Who Knows Websites'
    }
  }
}
</script>

<style>

</style>
