<template>
<!-- Poké text -->
<svg width="499px" height="20px" viewBox="0 0 499 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="20" font-family="pokemon-font" font-weight="normal">
        <g id="Letter" transform="translate(-55.000000, -435.000000)" fill="#000000">
            <text id="A-WILD-SOFTWARE-DEVE">
                <tspan x="55.0029297" y="455">A WILD</tspan>
                <tspan x="174.62793" y="455" font-family="Helvetica"> </tspan>
                <tspan x="180.18457" y="455">SOFTWARE DEVELOPER!</tspan>
                <tspan x="558.99707" y="455" font-family="Helvetica"> </tspan>
            </text>
        </g>
    </g>
</svg>
</template>

<script>
export default {
  data () {
    return {
      name: 'Obi'
    }
  }
}
</script>

<style>

</style>
