<template>
<!-- YO! -->
<svg width="64px" height="51px" viewBox="0 0 64 51" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="50" font-family="Fresh-Marker, Fresh Marker" font-weight="normal">
        <g id="Letter" transform="translate(-138.000000, -116.000000)" fill="#000000">
            <text id="YO!">
                <tspan x="138.475" y="155">{{exclaim}}</tspan>
            </text>
        </g>
    </g>
</svg>
</template>

<script>
export default {
  data () {
    return {
      exclaim: 'YO!'
    }
  }
}
</script>

<style>

</style>
