<template>
<div>
 <div class="outer-div">
   <h1 class="l-block" >obi</h1>
   <h1 class="r-block" >knows</h1>
   </div>
</div>

</template>

<script>
export default {

}
</script>

<style>
.outer-div {
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: .3em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 64px; */
}

.l-block {
  font-size: calc(2em + 1vw);
  padding: 32px;
  color:#8d530f;
  background-color:#121212;
  transition-property:color, background-color;
  transition-timing-function: ease-out;
  transition-duration:1s, .5s;
}

.r-block {
  font-size: calc(2em + 1vw);
  padding: 32px;
}
</style>
