<template>
<!-- Nav Bar -->
<div class="tc pb3">
  <router-link class="link dim black f6 f5-ns dib mr3" to="/about" title="About">About</router-link>
  <router-link class="link dim black f6 f5-ns dib mr3" to="/library" title="Words">Words</router-link>
  <router-link class="link dim black f6 f5-ns dib mr3" to="/work" title="About">Work Wit Me</router-link>
  <router-link class="link dim black f6 f5-ns dib mr3" to="/code" title="About">Tha Code</router-link>
  <router-link class="link dim black f6 f5-ns dib mr3" to="/store" title="Store">Shop</router-link>
  <router-link class="link dim black f6 f5-ns dib mr3" to="/contact" title="Contact">Contact</router-link>
  <a class="link dim green f6 f5-ns dib mr3" href="#" title="Extra Menu"><span>+</span></a>
</div>
</template>

<script>
export default {
  data () {
    return {

    }
  }
}
</script>

<style>

</style>
