<template>
  <!-- Simple App Template -->
  <div id="app">
    <router-view id="app-container"></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
body {
  margin: 0;
}

#app {
  font-family: BlinkMacSystemFont, sans-serif;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  /* background-color: #293c46; */
  min-height: 100vh;
}

#app-container {
  flex-grow: 1;
  /* background-color: #293c46; */
}

/* permament marker */
#marker {
  font-family: 'Permanent Marker';
}

/* fredoka one */
.fredoka {
  font-family: 'Fredoka One';
}

/* App wide stylings */

</style>
